In [1]:
import pandas as pd

In [35]:
movie_metadata = pd.read_csv('movies_metadata.csv')
ratings = pd.read_csv('ratings.csv')

F:\Anaconda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [36]:
movie_metadata.sample(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9373,False,NaN,10000000,"[{'id': 18, 'name': 'Drama'}]",NaN,12703,tt0330099,en,The Brown Bunny,Bud Clay races motorcycles in the 250cc Formul...,...,2004-08-27,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"I'm not going to be okay, Bud.",The Brown Bunny,False,5.5,63.0
1044,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,16372,tt0055018,en,The Innocents,A young governess for two children becomes con...,...,1961-12-25,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Apparitions? Evils? Corruptions?,The Innocents,False,7.5,126.0
20239,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",NaN,100592,tt0239921,cs,Ruka,A happy little potter is approached by a huge ...,...,1965-10-26,0.0,18.0,"[{'iso_639_1': 'cs', 'name': 'Český'}]",Released,NaN,The Hand,False,8.2,13.0
18724,False,NaN,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,82532,tt1588334,en,"Jeff, Who Lives at Home",Dispatched from his basement room on an errand...,...,2011-09-13,4417580.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The first step to finding your destiny is leav...,"Jeff, Who Lives at Home",False,6.1,220.0
20745,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://racingdreamsfilm.com/,44671,tt1152840,en,Racing Dreams,"From go-kart champs, NASCAR winners are bred -...",...,2010-05-14,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Coming of age in a fast world.,Racing Dreams,False,6.8,9.0
14987,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,45035,tt0492835,ko,왕의 남자,Set in the late 15th century during the reign ...,...,2005-12-29,0.0,119.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,King and the Clown,False,6.9,37.0
32772,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,32336,tt0084873,ru,Вокзал для двоих,"Platon Ryabinin, a pianist, is traveling by tr...",...,1982-06-06,0.0,141.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Station for Two,False,6.7,16.0
24915,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,90978,tt0035020,en,The Male Animal,The trustees of Midwestern University have for...,...,1942-04-04,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Male Animal,False,1.0,1.0
43097,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,389292,tt4325400,en,Apex: The Story of the Hypercar,"Rocket science meets the auto industry as ""APE...",...,2016-03-29,0.0,0.0,[],Released,NaN,Apex: The Story of the Hypercar,False,7.0,7.0
26823,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,112049,tt0047199,en,Mad About Men,Flirtatious mermaid Miranda swaps places with ...,...,1954-11-16,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Mad About Men,False,5.8,5.0